
@media (max-width: 1200px) {
    .div3 {
        top: 200px;
    }
}
@media (max-width: 1024px) {
    .navigation {
        display: none;
    }
    .h4phone {
        display: none;
    }
    .text1 {
        display: none;
    }
    .font-icon {
        display: block;
    }
    .secondblock {
        flex-direction: column;
        align-items: center;
    }
    .firstblock {
        flex-direction: column;
        align-items: center;
    }
    .divicons {
        margin-top: 30px;
    }
    .div4 {
        flex-direction: column;
        align-items: center;
    }
    .div1div {
        margin-top: 30px;
    }
    .divsec5 {
        flex-direction: column;
        align-items: center;
    }
    .litsec5 {
        margin-top: 30px;
        margin-bottom: 30px;
        height: 500px;
    }
    .div95 {
        margin-top: 10px;
    }
    .divmore {
        width: 200px;
        margin-bottom: 20px;
    }
    .block {
        flex-direction: column;
        align-items: center;
    }
    .rightblock {
        margin-bottom: 30px;
    }
    .leftblock {
        text-align: center;
    }
    .litdiv1 {
        margin: 0 auto;
    }
    .divsec6 {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .full {
        margin:  0 auto;
    }
    .text-block {
        margin:  0 auto;
    }
    h1 {
        font-size: 35px;
    }
    .texth2 {
        font-size: 18px;
    }
    .texts {
        font-size: 12px;
    }
    .div1 {
        height: 500px;
    }
}
@media (max-width: 900px) {
    .first-block-p {
        display: none;
    }
    .foot-div {
        flex-direction: column;
        align-items: center;
    }
    .div3 {
        margin-left: 10%;
        margin-bottom: 10%;
    }
    .div2 {
        margin-left: 10%;
    }
    .divicon {
        display: none;
    }
    .faxdiv {
        display: none;
    }
    .contdiv {
        display: none;
    }
    .divsec7 {
        flex-direction: column;
        align-items: center;
    }
    .div-left-sec7 {
        margin-bottom: 30px;
        text-align: center;
    }
    .form-div {
        margin: 0 auto;
    }
    .apart-button {
        margin: 0 auto;
        margin-top: 20px;
    }
    .div1 {
        height: 500px;
    }
}
@media (max-width:650px) {
    .div3 {
        display: none;
    }
    .div1 {
        height: 400px;
    }
    .manphoto {
        width: 500px;
    }
    .rightblock {
        box-shadow: none;
        display: flex;
        justify-content: center;
    }
    .litsec5 {
        flex-direction: column;
        align-items: center;
    }
    .text-block {
        display: none;
    }
    .h5sec5 {
        text-align: center;
    }
    .leftblock {
        width: 400px;
    }
}
@media (max-width: 520px) {
    .manphoto {
        max-width: 400px;
        width: 100%;
        margin: 0 auto;
    }
    .text3 {
        font-size: 22px;
    }
    .text4, .text5 {
        font-size: 14px;
    }
    .section5 {
        display: none;
    }
    .leftblock {
        width: 300px;
    }
    .name-form {
        margin-left: 20%;
        margin-bottom: 20px;
    }
    .text6 {
        margin-top: 20px;
    }
}